.averageSessionsDuration-container{
    width: 260px;
    height: 260px;
    background-color: #FF0000;
    border-radius: 5px;
}

.tooltipAverageSessions-container{
    background-color:white;
    padding:5px

}

.AverageSessions-label{
    color:black;
    font-size:10px
}

.renderAlldaysAWeek {
    display: flex;
    justify-content: space-between;
    color: #ffffff6b;
    position: relative;
    top: -30px;
    margin: 0px 5px;
    font-size:12px;
}

@media screen and (max-width:1440px) {
    .averageSessionsDuration-container {
        width: 190px;
        height: 200px;
    }
  }