.App {
  display: flex;
  flex-wrap: wrap;
}
.topBar-nav {
  background-color: black;
  width: 100vw;
  height: 100px;
}
.leftBar-nav {
  background-color: black;
  width: 100px;
  height: calc(100vh - 100px);
}


.dashboard-container {
  margin:0 auto;
  width: 82%;
  display: flex;
  flex-wrap: wrap;
}

.dashboard-title{
  font-size:48px;
  width: 100%;
}

.right-block {
  width: 25%;
}

.left-block {
  min-width: 591px;
  width: 59vw;
}

.sub-activity-container{
  height: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width:1440px) {
  .daily-activity-container {
    height: 200px;
  }
  .sub-activity-container {
    height: 240px;
  }
}